@tailwind base;
@tailwind components;
@tailwind utilities;


.smallButton{
    @apply bg-red-600 hover:bg-red-700
        text-white px-6 py-2
        rounded-md font-semibold
        transition;
}

.fullButton{
    @apply w-full bg-red-600 hover:bg-red-700
        text-white px-6 py-2
        rounded-md font-semibold
        transition;
}

.googleLogo{
    @apply  w-full
    flex
    items-center
    justify-between
    border
    border-gray-300
    rounded
    px-4
    py-2.5
    text-sm
    font-medium
    text-gray-700
    hover:bg-gray-100
    transition
}